{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Management<{% endblock %}

{% block content %}
    
<div class="container">
    <div class="text-center">
        <h3><span class="label label-default">Management Consultancy</span></h3>
    </div>



    <div class="well lead">
        <div class="text-center">
            <em>
                <p>
                The benefits of having an in-house training workshop from Early Childhood News include but
                not limited to the following;
                </p>
            </em>
            <p>
            Early Childhood News will provide key improvement support and solutions to provide reassurance and
            support which will lead to improved quality outcomes.
            This professional service will be tailored to the needs of each individual
            early childhood context
            </p>
        </div>
        <hr />
        <p>
        Often services do not have the support of operational management to guide
        and advise them on
        varying aspects of management and the regulatory requirements. This service
        provides a whole
        scope of management support including:
        <ul>
            <li>
                Rosters and staffing
            </li>
            <li>
                Hiring
            </li>
            <li>
                Regulatory issues
            </li>
            <li>
                Set-ups
            </li>
        </ul>
        </p>
    </div>
</div>

{% endblock content %}

