{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Support and Training us{% endblock %}

{% block content %}
    
<div class="container">
    <div class="text-center">
        <h3><span class="label label-default">Support and Training</span></h3>
    </div>

    <div class="well lead">
        <div class="text-center">
            <em>
                <p >
                These services provide personalised, one on one mentoring sessions, to support your unique
                role and needs within your service.
                </p>
                <hr />
                <p>
                Onsite mentoring and workshops are available to you and your team. They can be delivered in
                the comfort of your own workplace at a time most suited to you.
                </p>
                <hr />
            </em>
            <h3>
                What are the benefits of in-house training?
            </h3>
        </div>
            <p>
            The benefits of having an in-house training workshop from Early Childhood News include but
            not limited to the following;
            </p>
        <ul>
            <li>
                all educators receive the same message and information at the same time
            </li>
            <li>
                the workshop information can be specific to your context and needs
            </li>
            <li>
                it is a comfortable and familiar environment where educators should be comfortable to
            </li>
            <li>
                speak up to clarify their understandings
            </li>
            <li>
                stops misinformation or 'childcare whispers' infecting your service practice and
            </li>
            <li>
                embeds a consistent and informed approach.
            </li>
        </ul>

    </div>
</div>

{% endblock content %}

