{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}{{ block.super }}News{% endblock %}

{% block content %}
<div class="container">

    <div class="row row1 well well1">

        <div class="container">
            <div class="col-xs-12 col-sm-8 ">

                {% if news %}

                <h2>{{ news.heading_one }}</h2>
                {% if news.image_one %}
                <img class="thumbnail thumbnail1" src="{{ news.image_one.url }}" height="400" width="550" alt="photo">
                {% endif %}
                {% if news.h1_paragraph1 %}
                <p > {{ news.h1_paragraph1 }} </p>
                <p > {{ news.h1_paragraph2 }} </p>
                <p > {{ news.h1_paragraph3 }} </p>
                <p > {{ news.h1_paragraph4 }} </p>
                <p > {{ news.h1_paragraph5 }}</a> </p>

                <h3>{{ news.heading_two }}</h3>
                <p > {{ news.h2_paragraph1 }} </p>
                <p > {{ news.h2_paragraph2 }} </p>
                <p > {{ news.h2_paragraph3 }} </p>
                <p > {{ news.h2_paragraph4 }} </p>
                <p > {{ news.h2_paragraph5 }}</a> </p>

                <h3>{{ news.heading_three }}</h3>
                <p > {{ news.h3_paragraph1 }} </p>
                <p > {{ news.h3_paragraph2 }} </p>
                <p > {{ news.h3_paragraph3 }} </p>
                <p > {{ news.h3_paragraph4 }} </p>
                <p > {{ news.h3_paragraph5 }}{% if item.file_one %}<a class="btn btn-default btn-xs" href=" {{news.file_one.url}} " role="button">Learn more &raquo;</a>{% endif %}
                </p>
                {% endif %}
                <strong>Posted on&#58;</strong> {{ news.pub_date }}  <span class="p-color">({{news.pub_date|timesince}} ago)</span>

                {% endif %}


                 <h2>Leave a comment below</h2>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//earlychildhoodnews-co-ke-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
              </div><!--/.sidebar-module-->
              <div class="col-md-4">
                  <h2>Recent News</h2>
                  <p class="p-color>">
                  {% for item in all_news %}
                  <p>
                  <a href="{% url 'blog:news_id' item.id %}">
                      <strong>
                          {{ item }}
                      </strong>
                  </a>
                  </p>
                  {% endfor %}
                  </p>
              </div>
          </div>
 </div><!--/.row well well1-->

 </div>
{% endblock content %}
