{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}About us{% endblock %}

{% block content %}
    
<div class="container">
    <div class="text-center">
        <h3><span class="label label-default">About Us</span></h3>
    </div>

    <div class="well lead text-center">
        <p >
We are a consultancy group, working in partnership with early childhood professionals, in the provision
of reflective professional development and consultancy services for continued improvement.
        </p>
<p>
        We believe early childhood educators should be confident in using their professional expertise
        and judgment to make informed decisions to improve, embed, and maintain the highest quality
        outcomes on matters of early childhohood.
</p>
    <p>
As a consultancy, we are focused towards working with in partnership with early childhood
professionals on their unique and ongoing journeys of professional growth.
    </p>
    </div>
</div>

{% endblock content %}

